@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'Dana';
        src: url('../fonts/Dana/woff2/DanaFaNum-Regular.woff2');
    }

    @font-face {
        font-family: 'Dana Bold';
        src: url('../fonts/Dana/woff2/DanaFaNum-DemiBold.woff2');
    }

    @font-face {
        font-family: 'Morabba';
        src: url('../fonts/Morabba/woff2/Morabba-Medium.woff2');
    }
}

body {
    direction: rtl;
    background-color: #F1F5F9;
    font-family: 'Dana';
}

input , textarea {
    outline: none;
    border: none;
}

.Toastify__toast-body {
    direction: rtl !important;
    font-family: 'Dana' !important;
}

/* .dropdown-enter {
    opacity: 0;
    transform: translateY(-10%);
}
.dropdown-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 200ms, transform 200ms;
}

/* انیمیشن برای خروج منو */
/* .dropdown-exit {
    opacity: 1;
    transform: translateY(0);
}
.dropdown-exit-active {
    opacity: 0;
    transform: translateY(-10%);
    transition: opacity 200ms, transform 200ms;
} */ 