@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'Dana';
        src: url('../fonts/Dana/woff2/DanaFaNum-Regular.woff2');
    }

    @font-face {
        font-family: 'Dana Bold';
        src: url('../fonts/Dana/woff2/DanaFaNum-DemiBold.woff2');
    }

    @font-face {
        font-family: 'Morabba';
        src: url('../fonts/Morabba/woff2/Morabba-Medium.woff2');
    }
}

body {
    direction: rtl;
    background-color: #F1F5F9;
    font-family: 'Dana';
}

input , textarea {
    outline: none;
    border: none;
}

.Toastify__toast-body {
    direction: rtl !important;
    font-family: 'Dana' !important;
}


/* styles.css */
.responsive-table-container {
    width: 100% !important; /* حالت پیش‌فرض برای سایزهای بزرگتر */
}

@media (max-width: 600px) {
    .responsive-table-container {
        margin: 0 auto;
        width: 20rem !important; /* عرض در حالت موبایل */
        overflow-x: auto !important; /* اسکرول افقی برای محتوا */
    }
}
